# Team YSI - Titanic: Machine Learning from Disaster

### Exploring the test data

In [1]:
import pandas as pd
import csv as csv
import numpy as np

# Load the training data into data frame
main_train_df = pd.read_csv('input/test.csv', header=0)

# show first 2 rows
print main_train_df.ix[0]
print ""
print main_train_df.ix[1]
print ""
# show last 2 rows
print main_train_df.iloc[-2]
print ""
print main_train_df.iloc[-1]
print ""

PassengerId                 892
Pclass                        3
Name           Kelly, Mr. James
Sex                        male
Age                        34.5
SibSp                         0
Parch                         0
Ticket                   330911
Fare                     7.8292
Cabin                       NaN
Embarked                      Q
Name: 0, dtype: object

PassengerId                                 893
Pclass                                        3
Name           Wilkes, Mrs. James (Ellen Needs)
Sex                                      female
Age                                          47
SibSp                                         1
Parch                                         0
Ticket                                   363272
Fare                                          7
Cabin                                       NaN
Embarked                                      S
Name: 1, dtype: object

PassengerId                   1308
Pclass                           3
Name           Ware, Mr. Frederick
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      359309
Fare                          8.05
Cabin                          NaN
Embarked                         S
Name: 416, dtype: object

PassengerId                        1309
Pclass                                3
Name           Peter, Master. Michael J
Sex                                male
Age                                 NaN
SibSp                                 1
Parch                                 1
Ticket                             2668
Fare                            22.3583
Cabin                               NaN
Embarked                              C
Name: 417, dtype: object

In [3]:
# Show the unique values in some columns
print 'Pclass: ' + ', '.join(map(str, np.unique(main_train_df['Pclass'])))
print 'Sex: ' + ', '.join(map(str, np.unique(main_train_df['Sex'])))
print 'SibSp: ' + ', '.join(map(str, np.unique(main_train_df['SibSp'])))
print 'Parch: ' + ', '.join(map(str, np.unique(main_train_df['Parch'])))
print 'Embarked: ' + ', '.join(map(str, np.unique(main_train_df['Embarked'])))

Pclass: 1, 2, 3
Sex: female, male
SibSp: 0, 1, 2, 3, 4, 5, 8
Parch: 0, 1, 2, 3, 4, 5, 6, 9
Embarked: C, Q, S

### Show average age per gender

In [5]:
women_only_stats = main_train_df['Sex'] == 'female'
men_only_stats = main_train_df['Sex'] != 'female'

total_count_w = np.sum(women_only_stats)
total_count_m = np.sum(men_only_stats)
total_age_w = np.sum(main_train_df.ix[women_only_stats, 'Age'].dropna().astype(np.float))
total_age_m = np.sum(main_train_df.ix[men_only_stats,   'Age'].dropna().astype(np.float))

print "Total women: %s, total age: %s, avg: %s" %(total_count_w, total_age_w, total_age_w/total_count_w)
print "Total men: %s, total age: %s, avg: %s" %(total_count_m, total_age_m, total_age_m/total_count_m)

Total women: 152, total age: 3844.59, avg: 25.2933552632
Total men: 266, total age: 6205.91, avg: 23.3304887218